<footer class="site-footer h-card">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {%- if site.author -%}
        <span>{{ site.author | escape }}</span>
        {%- endif -%}
      </div>

      <div class="footer-col footer-col-2">
        {%- if site.email -%}
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        {%- endif -%}
      </div>

      <div class="footer-col footer-col-3">
        <p></p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
